/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  font-family: "Indie Flower";
  max-width: 900px;
  padding: var(--space-medium);
  margin: 0 auto;
  
}

.subtitle {
  font-weight: bold;
  text-transform: uppercase;
  color: #27ac95;
  
}

.subtitle1 {
  font-weight: bold;
  text-transform: uppercase;
  color: #cd5ba3;
  
} 
